.dx-pager{
  padding-top: 3px;
  padding-bottom: 3px;
}
.dx-pager .dx-page-sizes .dx-page-size {
  padding: 2px;
}
.dx-pager .dx-pages .dx-page {
  padding: 2px;
}
.dx-pager .dx-pages .dx-navigate-button{
  padding: 5px;
}
.dx-datagrid .dx-row > td{
  font-size: 0.8em;
}
.dx-toast-content{
  width: 400px !important;
}
.dx-toast-icon{
  width: 20px;
  height: 20px;
}