<div>
  <h2>Universal Query Builder</h2>
  <br>
  <query-builder [formControl]='queryCtrl' [config]='currentConfig' [allowRuleset]='allowRuleset' [allowCollapse]='allowCollapse' [persistValueOnFieldChange]='persistValueOnFieldChange'>
    <ng-container *queryInput="let rule; type: 'textarea'; let getDisabledState=getDisabledState">
      <textarea class="text-input text-area" [(ngModel)]="rule.value" [disabled]=getDisabledState()
        placeholder="Custom Textarea"></textarea>
    </ng-container>
    <ng-container *queryInput="let rule; type: 'number'">
    <ng-container *ngIf="rule.operator === 'Between'">
        <input [(ngModel)]="rule.value[0]" type="number" /> to 
        <input [(ngModel)]="rule.value[1]" type="number" />
    </ng-container>
    <ng-container *ngIf="rule.operator !== 'Between'">
        <input [(ngModel)]="rule.value" type="number" />
    </ng-container>
  </ng-container>
  </query-builder>
  <br>
  <div>
    <div class="row">
      <!-- <p class="col-6">Control Valid (Vanilla): {{ queryCtrl.valid }}</p> -->
      <div class="col-6">
        <!-- <label><input type="checkbox" (change)=switchModes($event)>Entity Mode</label> -->
      </div>
    </div>
    <div class="row">
      <!-- <p class="col-6">Control Touched (Vanilla): {{ queryCtrl.touched }}</p> -->
      <div class="col-6">
        <!-- <label><input type="checkbox" (change)=changeDisabled($event)>Disabled</label> -->
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!-- <label><input type="checkbox" [(ngModel)]='allowRuleset'>Allow Ruleset</label> -->
      </div>
      <div class="col-6">
        <!-- <label><input type="checkbox" [(ngModel)]='allowCollapse'>Allow Collapse</label> -->
      </div>
      <div class="col-6">
        <!-- <label><input type="checkbox" [(ngModel)]='persistValueOnFieldChange'>Persist Values on Field Change</label> -->
      </div>
    </div>
    <textarea class="output">{{query | json}}</textarea>
    <br/>
    <h4>DSL Query</h4>
    <button cButton color="primary" (click)=populateJsonlogic()>Get DSL</button>
    <textarea class="output">{{varJsonLogic | json}}</textarea>
    <textarea class="output">{{dsl | json}}</textarea>
  </div>
</div>
